### Libraries

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

### Engine

In [4]:
engine = create_engine(url='postgresql+psycopg2://postgres:postgres@localhost:5432/mobi7_code_interview')

### Explore Data

In [5]:
sql = "select * from trip"

with engine.connect() as conn:
    trip_statistics = pd.read_sql(sql, conn)

trip_statistics.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56730 entries, 0 to 56729
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    56730 non-null  int64
 1   vehicle_id            56730 non-null  int64
 2   plate                 56730 non-null  object
 3   journey_size          56730 non-null  int64
 4   startpoint_latitude   56730 non-null  float64
 5   startpoint_longitude  56730 non-null  float64
 6   endpoint_latitude     56730 non-null  float64
 7   endpoint_longitude    56730 non-null  float64
 8   total_distance        56730 non-null  float64
 9   total_duration        56730 non-null  float64
 10  total_moving          56730 non-null  int64
 11  total_idle            56730 non-null  int64
 12  max_speed             56730 non-null  float64
 13  avg_speed             56730 non-null  float64
 14  vehicle_rating        56730 non-null  float64
 15  hardacceleration      56730 non-null  int64
 16  hardbraking           56730 non-null  int64
 17  hardcurve             56730 non-null  int64
 18  softacceleration      56730 non-null  int64
 19  softbraking           56730 non-null  int64
 20  softcurve             56730 non-null  int64
dtypes: float64(9), int64(11), object(1)
memory usage: 9.1+ MB

In [6]:
trip_statistics.head()

,id,vehicle_id,plate,journey_size,startpoint_latitude,startpoint_longitude,endpoint_latitude,endpoint_longitude,total_distance,total_duration,...,total_idle,max_speed,avg_speed,vehicle_rating,hardacceleration,hardbraking,hardcurve,softacceleration,softbraking,softcurve
0,100355631,175,AAA0002,4,-25.558645,-49.188332,-49.188706,-25.559240,0.104,102.0,...,0,10.0,4.75,100.00,0,0,0,0,0,0
1,95368148,167,AAA0001,43,-25.532476,-49.083287,-49.063968,-25.361210,29.139,1924.0,...,0,85.0,37.12,72.55,0,0,1,0,0,3
2,89809830,167,AAA0001,3,-25.558536,-49.188293,-49.188314,-25.558719,0.026,39.0,...,0,8.0,2.67,100.00,0,0,0,0,0,0
3,80935012,5603,AAA0003,2,-20.341729,-40.376801,-40.376853,-20.342314,0.087,41.0,...,0,18.0,17.00,100.00,0,0,0,0,0,0
4,100355739,5596,AAA0004,11,-25.517609,-49.104978,-49.083374,-25.532587,3.024,392.0,...,0,54.0,23.64,100.00,0,0,0,0,0,0

In [20]:
trip_statistics[['vehicle_id', 'plate', 'journey_size', 'total_distance', 'total_duration', 'total_moving', 'total_idle']].sort_values(by='vehicle_id').head(10)

,vehicle_id,plate,journey_size,total_distance,total_duration,total_moving,total_idle
28471,167,AAA0001,53,32.520,2585.0,2585,0
30307,167,AAA0001,23,5.110,1243.0,1243,0
28528,167,AAA0001,8,1.394,395.0,395,0
28520,167,AAA0001,72,44.894,3586.0,3586,0
1928,167,AAA0001,24,15.350,1108.0,1108,0
1926,167,AAA0001,7,0.308,119.0,119,0
30312,167,AAA0001,33,38.918,2439.0,2439,0
28519,167,AAA0001,18,7.711,966.0,966,0
28518,167,AAA0001,32,5.724,1601.0,1601,0
1919,167,AAA0001,3,0.062,27.0,27,0

In [24]:
sql = \
"""
    select 
        vehicle_id,
        count(vehicle_id) as total_viagens,
        sum(total_distance) as total_km,
        sum(total_moving)/3600::float as total_mv_h,
        round((sum(total_idle)/3600), 3) as total_pd_h
    from trip
    group by vehicle_id
"""

with engine.connect() as conn:
    result = pd.read_sql(sql, conn)

result

   vehicle_id  total_viagens    total_km   total_mv_h  total_pd_h
0         175           1645   23333.868   579.135278         9.0
1        5603           5158   15537.043   473.709167        79.0
2       72880          13230   19658.043   694.525278       457.0
3      164573           5054   24891.555  1130.234167        29.0
4      150653           5060   38819.130   811.516111         5.0
5         167           1491   19605.917   480.632500         6.0
6      207756           5044  129739.966  2219.446944       312.0
7        5596           1386   34559.289   646.945278         6.0
8        7672          13610     592.312   143.645000         8.0
9      155905           5052    9024.329   721.685278       150.0